<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xumaodun.myapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashOneActivity"
            android:theme="@style/Appwelcome">
        </activity>
        <activity android:name=".SplashTwoActivity">
        </activity>
        <activity android:name=".WelcomeGuideActivity">
        </activity>
        <activity
            android:name=".SplashThreeActivity"
            android:theme="@style/ApTheme">
        </activity>
        <activity android:name=".SplashFourActivity">
        </activity>
        <activity android:name=".guideview.GuideViewActivity">
        </activity>
        <activity android:name=".guideview.activity.FullActivity">
        </activity>
        <activity android:name=".guideview.activity.FragActivity">
        </activity>
        <activity android:name=".guideview.activity.SimpleGuideViewActivity">
        </activity>
        <activity android:name=".guideview.activity.ViewActivity">
        </activity>
    </application>

</manifest>